<div class="card">
  {{#each this}}
  <section class="card">
    <div class="text">
      {{card.card_front}}
    </div>
    <div class="text">
      {{card.card_back}}
    </div>
  </section>
  {{/each}}
</div>