<article class="deck">
  <div class="name">
      <h2><a href="/deck/{{id}}">{{deck_name}}</a>
      </h2>
      <p>{{deck_name}}</p>

      <div class="flip-card">
        <div class="flip-card-inner">
        </div>

        <div class="flip-card-front">
            
        </div>

        <div class="flip-card-back">
          
        </div>
      </div>
  </div>
  {{!-- place this code to only display on dashboard/main page only --}}
</article>