<div class="container flip-card">
{{deck_name}}

  <div class="flip-card-inner">
    <div class="flip-card-front">
      {{card_front}}
    </div>

    <div class="flip-card-back">
      {{card_back}}
    </div>
  </div>
</div>
