<article class="deck">
  <div class="name">
    <h2><a href="/deck/{{id}}">{{deck_name}}</a> 
    </h2>
    <p>
      
    </p>
    
  </div>
  {{!-- place this code to only display on dashboard/main page only --}}
  <div class="meta">
    <p>{{comments.length}} {{format_plural "comment" comments.length}}</p>
  </div>
</article>