<article class="post">
  <div class="title">
    <a target="_blank">{{title}}</a>
  </div>
  <div class="meta">
    <a href="/post/{{id}}">{{post.length}} {{format_plural "post" post.length}}</a>
  </div>
</article>