<article class="post">
  <div class="title">
    <a target="_blank">{{title}}</a>
  </div>
  <div class="meta">
    <a href="/post/{{id}}">{{deck.length}} {{format_plural "deck" deck.length}}</a>
  </div>
</article>