<section>
  <h2 class="new-deck-form"><a href="/dashboard/new/" >Create a New Deck</a></h2>
</section>

{{#if deck.length}}
<section>
  <h2>Your decks</h2>
  <ol>
    {{#each decks as |deck|}}
    <li>
      {{> deck-info post}}
      <a href="/dashboard/edit/{{deck.id}}" class="edit-link">Edit deck</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

