<section>
  <h2 class="new-deck-form"><a href="/dashboard/new/" >Create a New Deck</a></h2>
</section>

{{#if deck.length}}
<section>
  <h2>Your deck</h2>
  <dt>
    {{#each deck as |deck|}}
    <dd>
      {{> deck-info deck}}
      <a href="/dashboard/edit/{{deck.id}}" class="edit-link">Edit deck</a>
    </dd>
    {{/each}}
  </dt>
</section>
{{/if}}

