{{#if loggedIn}}
<section>
  <h2 class="new-deck-form"><a href="/dashboard/new/">Create a New Deck</a></h2>
</section>

{{#if deck.length}}
<section>
  <p>Your {{format_plural "Deck" deck.length }}</p>
  <dt>
    {{#each deck as |deck|}}
  <dd>
    {{> deck-info deck}}
    <a href="/dashboard/edit/{{deck.id}}" class="edit-link">Edit deck</a>
  </dd>
  {{/each}}
  </dt>
</section>
{{/if}}
{{/if}}