{{!-- Will need to decide how it will all be displayed and edit code accordingly --}}
<ol class="deck-list">
  {{#each deck as |deck|}}
  <li>
    {{> deck-info deck }}
  </li>
  {{/each}}
</ol>