{{!-- Will need to decide how it will all be displayed and edit code accordingly --}}
<ol class="post-list">
  {{#each posts as |post|}}
  <li>
    {{> post-info post }}
  </li>
  {{/each}}
</ol>