<section>
  <h2>Create New Card</h2>

  <form class="new-card-form">
    <div>
     {{deck_name}}
    </div>
      
      <label for="card-front">Front:</label>
      <input type="text" id="card-front" name="card-front"/>
      <label for="card-back">Back:</label>
      <input type="text" id="card-back" name="card-back"/>
  
    <button type="submit" class="btn">Create</button>
  </form>
</section>

<script src="/javascript/add-card.js"></script>