<section>
  <h2>Create New Card</h2>

  <form class="new-card-form">
    {{!-- <div>
     {{deck_name}}
    </div> --}}
    <div>      
      <label for="card-front">Front:</label>
      <input type="text" id="card-front" name="card-front"/>
      <label for="card-back">Back:</label>
      <input type="text" id="card-back" name="card-back"/>
    </div>
  
    <button id="saveCard" type="submit" class="btn">Save Card</button>
    <button id="finishDeck" type="submit" class="btn">Finish Deck</button>
  </form>

</section>
  {{#if cards.length}}
  <section>
    <h2>Your Cards</h2>
    {{ card-info card}}
    <a href="/deck/card/{{id}}"
    class="edit-card">Edit Card</a>
  </section>
  {{/if}}


<script src="/javascript/add-card.js"></script>