<section>
  <h2>Create New Deck</h2>

  <form class="new-deck-form">
    <div>
<<<<<<< HEAD
      <label for="deck-title">Title</label>
      <input type="text" id="deck-name" name="deck-name" />
    </div>  
=======
      <label for="deck-name">Deck Name:</label>
      <input type="text" id="deck-name" name="deck-name"/>
    </div>
  
>>>>>>> 73b7edaca3dad5eeeb990bd189a6a2ec1cc5f294
    <button type="submit" class="btn">Create</button>
  </form>
</section>

<script src="/javascript/add-deck.js"></script>