<section>
  <div>
    <h4>Your cards:</h4>
    {{#with cards}}
  <div class="flip-card">
    <div class="flip-card-inner">

    <div class="flip-card-front">
      {{card_front}}   
    </div>

    <div class="flip-card-back">
      {{card_back}}
    </div>

    </div>
  </div>
{{/with}}
  </div>
</section>

{{#if loggedIn }}
  

<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">add comment</button>
  </div>
</form>
{{/if}}

{{> comments deck.comments}}


{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}