{{!-- {{#each deck.cards as |card|}}
  {{> card-info card}}
{{/each}} --}}
{{#each deck.cards as |card|}}
  {{> card.[@index]}}
{{/each}}

{{!-- edit link should ONLY work for the user who created it. --}}
{{#if loggedIn }}
  


<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">add comment</button>
  </div>
</form>
{{/if}}

{{> comments deck.comments}}


{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}