{{!-- USED BY controllers/home-routes.js --}}


{{#if loggedIn}}

<section>
  <h2>Your deck</h2>
        {{> deck-info deck}}
      <a href="/dashboard/edit/{{deck.id}}" class="edit-link">Edit deck</a>
</section>

<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">add comment</button>
  </div>
</form>
{{/if}}

{{> comments deck.comments}}


{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}