{{!-- USED BY controllers/home-routes.js --}}

{{!-- edit link should ONLY work for the user who created it. --}}

{{#if loggedIn }}

<section>
  {{> deck-info deck}}
</section>

<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">add comment</button>
  </div>
</form>
{{/if}}

{{> comments deck.comments}}


{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}